.nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
}

.main-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
.main-topic > * {
  width: 100%;
}

.main-topic > p {
  display: none;
}

.main-topic-data {
  padding: 2rem;
}

.metadata {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .main-topic > div {
    width: 65%;
  }
  .main-topic > p {
    display: block;
    width: 33%;
    line-height: 1.6;
    padding: 0 2rem;
    color: var(--color-secondary);
  }
}

.list-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  row-gap: 2rem;
}

.single-article {
  width: 48%;
}

@media (min-width: 768px) {
  .single-article {
    width: 24%;
  }
}

.single-article > * {
  width: 100%;
  margin-top: 0.5rem;
}

.single-article .metadata {
  color: var(--color-other);
}
