.nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
}

.main-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
.main-topic > * {
  width: 100%;
}

.main-topic > p {
  display: none;
}

.main-topic-data {
  padding: 2rem;
}

.metadata {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .main-topic > div {
    width: 65%;
  }
  .main-topic > p {
    display: block;
    width: 33%;
    line-height: 1.6;
    padding: 0 2rem;
    color: var(--color-secondary);
  }
}

.list-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  row-gap: 2rem;
  column-gap: 1%;
}

.single-article {
  width: 48%;
}

@media (min-width: 768px) {
  .single-article {
    width: 24%;
  }
}

.single-article > * {
  width: 100%;
  margin-top: 0.5rem;
}

.single-article .metadata,
.slider-article .metadata {
  color: var(--color-other);
}

.slider-article,
.slider-article > * {
  width: 100%;
}

.slider-article {
  position: relative;
  height: 100%;
}

.slider-article img {
  filter: brightness(0.7);
  width: 100%;
  aspect-ratio: 16/7;
  object-fit: cover;
}

.slider-article h3,
.slider-article .metadata {
  position: absolute;
  left: 5%;
}

.slider-article h3 {
  bottom: 25%;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.slider-article .metadata {
  bottom: 15%;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 768px) {
  .slider-article h3 {
    bottom: 20%;
    color: white;
    font-weight: 700;
    font-size: 34px;
  }

  .slider-article .metadata {
    bottom: 15%;
    color: white;
    font-weight: 500;
    font-size: 21px;
  }
}

.form-layout {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5%;
  min-height: 600px;
}

.form-layout > * {
  width: 100%;
}

.form-layout div {
  display: none;
}

@media (min-width: 768px) {
  .form-layout {
    padding: 0;
  }

  .form-layout > * {
    width: 50%;
  }

  .form-layout div {
    display: block;
    overflow: hidden;
  }
}

.form-layout img {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: white;
  padding: 0 5%;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input,
.form button,
.form select {
  padding: 0.5rem 1rem;
}

.form button {
  background: var(--color-primary);
  color: white;
  border: none;
  font-weight: 500;
  font-size: 21px;
  border-radius: 4px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--font-secondary);
  padding: 0 3rem;
  row-gap: 2rem;
}

.footer-content > * {
  text-align: center;
}

.footer-content > *:nth-child(1) {
  width: 100%;
}

.footer-content > *:nth-child(2) {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-content {
    padding: unset;
  }

  .footer-content > * {
    text-align: justify;
  }

  .footer-content > *:nth-child(1) {
    width: 65%;
  }

  .footer-content > *:nth-child(2) {
    width: 25%;
  }
}

.footer-content h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.copyright-text {
  text-align: center;
  padding-top: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

#slider {
  position: relative;
}

#slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  background: white;
  opacity: 0.7;
}

#slider button:hover {
  opacity: 1;
}

#slider button:nth-child(1) {
  left: 5px;
}

#slider button:nth-child(2) {
  right: 5px;
}

.greeting {
  display: none;
}
@media (min-width: 400px) {
  .greeting {
    display: block;
  }
}

.about-us-paragraphs {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}