.container {
  width: 90%;
  max-width: 1240px;
  min-width: 280px;
  margin: auto;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  background-color: var(--color-primary);
  color: white;
}

.padding-s {
  padding: 0.25rem 0.5rem;
}

.rounded-s {
  border-radius: 0.25rem;
}

.margin-ys {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.div-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  aspect-ratio: 2.2;
  object-fit: cover;
  color: white;
}

.image-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.index-list-article {
  height: 190px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px;
}

.details-article-image {
  height: 400px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px;
}

.error {
  display: none;
  color: #a13d3d;
  font-family: var(--font-secondary);
}

.show {
  display: block !important;
}

.divider {
  margin-top: 2rem;
}
